<h1>Poquito A Poco</h1>
<p>
	Querémos que coworkDF sea un espacio grande, con lugar para XX miembros, salón de eventos, XX salones para cursos y bla bla bla. Sin embargo, necesitamos tu ayuda para llegar a esa meta.
</p>

<div class="row">
	<div class="span3">
		<h4>Opción 1</h4>
		<img class="profile" src="http://placehold.it/150x150" alt="Nombre">
	</div>
	<div class="span3">
		<h4>Opción 2</h4>
		<img class="profile" src="http://placehold.it/150x150" alt="Nombre">
	</div>
	<div class="span3">
		<h4>Opción 3</h4>
		<img class="profile" src="http://placehold.it/150x150" alt="Nombre">
	</div>
	<div class="span3">
		<h4>Opción 4</h4>
		<img class="profile" src="http://placehold.it/150x150" alt="Nombre">
	</div>	
</div>

<div class="progress-bar blue"></div>

<div class="row first-row">
	<div class="span4 offset2">
		<a href="#" class="btn large primary" id="unete">Únete Ya</a>
	</div>
	<div class="span4">
		<h3>Invita a tus amigos:</h3>
		<a href="www.facebook.com"><img class="icon" src="http://placehold.it/35x35" alt="Facebook Profile"></a>
		<a href="www.facebook.com"><img class="icon" src="http://placehold.it/35x35" alt="Facebook Profile"></a>
		<a href="www.facebook.com"><img class="icon" src="http://placehold.it/35x35" alt="Facebook Profile"></a>
		<a href="www.facebook.com"><img class="icon" src="http://placehold.it/35x35" alt="Facebook Profile"></a>
	</div>
</div>

<div class="row first-row">
	<div class="span12">
		<h2>Opción 1</h2>
		<div class="row">
			<div class="span5 offset1">
			</div>
			<div class="span5 offset1">
			</div>
		</div>
	</div>	
</div>