<h1>¿Como Ayudo?</h1>
<p>
	coworkDF es un esfuerzo de parte de todos. Por esto mismo, estamos pidiendo que toda la comunidad se involucre para hacer este esfuerzo realidad. Aquí hay algunas cosas con las que tu puedes ayudar.
</p>

<div class="row" id="ayuda">
	<div class="span10 offset1">
		<h2>Dame Algo Fácil</h2>
		<ul>
			<li>Sígenos en Twitter <a href="https://twitter.com/coworkDF" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @coworkDF</a>
			<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script></li>
			<li>Escribe un comentario en Twitter mencionándonos, o un #FF   <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.coworkdf.com" data-text="¿Ya conocieron @coworkDF?" data-count="none" data-via="coworkDF" data-lang="es">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
			<li>Dale 'Like' a nuestra página en <a href="www.facebook.com">Facebook</a></li>
			<li>Suscríbete a nuestra lista de correos (en la columna derecha)</li>
		</ul>

		<h2>Tengo 10 minutos</h2>
		<ul>
			<li>Esríbe un e-mail (con copia a info@coworkdf.com) a una persona con la que crees que debamos platicar. Puede ser:
				<ul>
					<li>un miembro potencial</li>
					<li>un patrocinador potencial</li>
					<li>una persona que  esté dispuesta a donar</li>
					<li>alguien con credenciales impresionantes que esté dispuesto/a a dar una plática en cuanto abramos</li>
					<li>alguien que tenga mucha experiencia creando asociaciones civíles sin fines de lucro</li>
				</ul>
			</li>
		</ul>


		<h2>Voy con todo, ¿Que necesitan?</h2>
		<ul>
			<li><a href="/unete">Únete</a> a cowork DF</li>
			<li>Platica con una empresa que encaje con coworkDF, y convéncelos de que patrocinen nuestro lanzamiento</li>
			<li>Convence a un amigo que se una a coworkDF, o a tu equipo de trabajo</li>
			<li>Si tienes experiencia, ayúdanos con crear la asociación civil y entidad sin fines de lucro</li>
			<li>Considera una donación a coworkDF</li>
		</ul>
	</div>
</div>