<h1>Beneficios</h1>

<p>Ser parte de la comunidad de coworkDF te brinda los siguientes beneficios:</p>


<div class="beneficio izquierda">
	<h3>Instalaciones</h3>
	<img class="icon" src="/images/icon_community.png" alt="instalaciones"/>
	<p>Uso ilimitado de nuestras <a href="/quees">instalaciones</a> las 24 horas, 365 días del año</p>
	
</div>
<div class="beneficio derecha">
	<h3>Eventos</h3>
	<img class="icon" src="/images/icon_event.png" alt="instalaciones"/>
	<p>Entrada a eventos exclusivos para miembros</p>
</div>
<div class="beneficio izquierda">
	<h3>Internet</h3>
	<img class="icon" src="/images/icon_wifi.png" alt="instalaciones"/>
	<p>Acceso a internet de alta velocidad</p>
</div>

<div class="beneficio derecha">
	<h3>Correo</h3>
	<img class="icon" src="/images/icon_inbox.png" alt="instalaciones"/>
	<p>Uso de coworkDF como tu dirección de negocio</p>
</div>
<div class="beneficio izquierda">
	<h3>Cursos</h3>
	<img class="icon" src="/images/icon_beaker.png" alt="instalaciones"/>
	<p>Precios preferenciales en todos los cursos que se ofrecerán</p>
</div>
<div class="beneficio derecha">
	<h3>Coworking Visa</h3>
	<img class="icon" src="/images/icon_globe.png" alt="instalaciones"/>
	<p>Acceso a ~200 espacios de coworking, por medio del proyecto <a href="http://wiki.coworking.info/w/page/16583744/CoworkingVisa">Coworking Visa</a></p>
</div>

<div class="beneficio-ultimo">
		<h2>La oportunidad de formar parte de una <a href="/miembros">comunidad</a> de emprendedores que se apoya, inspira y motiva mutuamente</h2>
</div>


<!--
<ul>
	<li>Uso ilimitado de nuestras <a href="/quees">instalaciones</a> las 24 horas, 365 días del año</li>
	<li>Entrada a eventos exclusivos para miembros</li>
	<li>Acceso a internet de alta velocidad</li>
	<li>Uso de coworkDF como tu dirección de negocio</li>
	<li>Precios preferenciales en todos los cursos que se ofrecerán</li>
	<li>Acceso a ~200 espacios de coworking alrededor del mundo, por medio del proyecto <a href="http://wiki.coworking.info/w/page/16583744/CoworkingVisa">Coworking Visa</a></li>
	<li><strong>La oportunidad de formar parte de una <a href="/miembros">comunidad</a> de emprendedores que se apoya, inspira y motiva mutuamente</strong></li>
	
</ul>

-->