<div class="hero-unit">
	<h1 id="title">coworkDAY</h1>
		<p>Queremos experimentar con este concepto, y dejar que tu experimentes para que juntos veamos cuales son los elementos que mas agregan valor a la comunidad.</p>
		<p>Para hacerlo, te invitamos al primer <strong>"coworkDAY,"</strong> donde la idea es explorar juntos e impulsar el comienzo de esta comunidad. Sal de tu casa o del café al que ibas a ir solo.... ven a trabajar en tu proyecto mientras convives con una comunidad cuyo objectivo es apoyarse e impulsarse el uno al otro.</p>
		<p><a href="http://www.meetup.com/coworkDAY/" class="btn primary large">Reserva tu lugar »</a></p>
</div> <!-- hero-unit -->


<div class="row">
	<div class="span5 offset1">
		<h2>¿Dónde?</h2>
		<address>
			<strong>Casa Roma</strong><br />
			111 Alvaro Obregón<br />
			Col. Roma Norte<br />
			México, D.F. 99999
		</address>
	</div>
	<div class="span6">
		<h2>¿Cuándo?</h2>
		<p>Icon chingon con fecha</p>
	</div>
</div>

<div class="row">
	<div class="span5 offset1">
		<h2>¿Quiénes?</h2>
		<ul>
			<li></li>
		</ul>
	</div>
	<div class="span6">
		<h2>¿Para qué?</h2>
		<ul>
			<li></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span4 offset4">
		<a href="http://www.meetup.com/coworkDAY/" class="btn primary large">Reserva tu lugar »</a>
	</div>
</div>


