<div class="hero-unit">
	<h1 id="title">coworkDF</h1>
		<p>coworkDF es un espacio de trabajo compartido (coworking space) para startups, freelancers y hackers. La gente que forma parte de nuestra comunidad viene a HACER algo, y a convivir con otras personas que están haciendo lo mismo para inspirarnos y ayudarnos mutuamente.</p>
<p><a href="/unete" class="btn primary large">Únete »</a>  <a href="/quees" class="btn large">Más Información »</a></p>
</div> <!-- hero-unit -->
<script type="text/javascript" src="http://coworkdf.tumblr.com/js"></script>

