<div class="hero-unit">
	<h1 id="title">coworkDF</h1>
		<p>coworkDF es un espacio de trabajo compartido (coworking space) para emprendedores y startups. La gente que forma parte de nuestra comunidad viene a trabajar, y a convivir con otras personas que están haciendo lo mismo para inspirarnos y ayudarnos mutuamente.</p>
			<div id="unete-block">
				 <h2>¿Quiéres ser una de las 30 startups fundadoras?</h2>
				 <a href="/quees" class="btn primary large" id="unete">Más Información »</a>
			</div>
</div> <!-- hero-unit -->
<script type="text/javascript" src="http://coworkdf.tumblr.com/js"></script>

