<form class="form-stacked" action="http://coworkDF.us2.list-manage.com/subscribe/post" method="post">
	<fieldset>
		<input type="hidden" name="u" value="d24346dabb1cbf177a20ff437">
		<input type="hidden" name="id" value="1db5befc72">
		<div class="clearfix">
			<input class="span3" id="MERGE0" name="MERGE0" type="email" autocapitalize="off" autocorrect="off" placeholder="e-mail">
		</div>
	<input type="submit" class="btn float-right mail-send" value="Enviar" data-controls-modal="mymodal">
	</fieldset>
</form>