<h1>Miembros Fundadores</h1>

<div class="company row">
	<div class="span-one-third">
		<a href="http://www.coworkdf.com">
		  <img class="thumbnail logo" src="/images/coworkDF_logo.png" alt="NuFlick">
		</a>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/ceci_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Cecilia Ezquerro</h3>
				<p>
					Nace en México, crece en México, vive en México y es diseñadora industrial. Pero como lo dictamina su disciplina, “la belleza está en los detalles”. Habiendo estudiado en Francia, Italia y Suiza, aprende idiomas y culturas distintas lo cual la vuelve en una minuciosa observadora de la gente y sus entornos; descubriendo así Product-System-Service Design que unen la parte de diseño y business. Co-funda Integral y Espacio 310, su primer acercamiento con el mundo del emprendedurismo, el cual continúa explorando.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/arturo_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Arturo Ezquerro</h3>
				<p>
					Es un ingeniero químico por titulación, alpinista y escalador por vocación y curioso creativo por naturaleza. Esta en continuo proceso de aprendizaje y cual un niño se sigue sorprendiendo por las cosas mas simples de la vida. Recientemente se dedica al emprendedurismo; es cofundador de Espacio 310 y fue cofundador y director en Integral. Es gran admirador de Buckminster Fuller, James Brown y el Macaca Fuscata de Jigokudani.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/guayo_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Eduardo Serrano</h3>
				<p>
					ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="company row">
	<div class="span-one-third">
		<a href="http://www.mexican.vc">
		  <img class="thumbnail logo" src="/images/mexicanvc_logo.png" alt="Mexican.VC">
		</a>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/cesar_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>César Salazar</h3>
				<p>
					 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/santiago_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Santiago Zavala</h3>
				<p>
					ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="company row">
	<div class="span-one-third">
		<a href="http://www.nuflick.com">
		  <img class="thumbnail logo" src="/images/nuflick_logo.png" alt="NuFlick">
		</a>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/boyzo_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Rodrigo Boyzo</h3>
				<p>
					 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/psyrax_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Jose Luis Espinoza</h3>
				<p>
					ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="/images/celeste_profile.jpg" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="/images/icon_facebook.png" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="/images/icon_twitter.png" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_linkedin.png" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="/images/icon_profile.png" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Celeste North</h3>
				<p>
					ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>
