<h1>miembros fundadores</h1>
<div class="company row">
	<div class="span-one-third">
		<a href="http://www.nuflick.com">
		  <img class="thumbnail logo" src="http://placehold.it/210x75" alt="NuFlick">
		</a>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="http://placehold.it/100x100" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="http://placehold.it/22x22" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="http://placehold.it/22x22" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="http://placehold.it/22x22" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="http://placehold.it/22x22" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Rocky Balboa</h3>
				<p>
					 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span11 offset1">
		<div class ="row">
			<div class="span2">
				<img class="profile" src="http://placehold.it/100x100" alt="Nombre">
				<a href="www.facebook.com"><img class="icon" src="http://placehold.it/22x22" alt="Facebook Profile"></a>
				<a href="www.twitter.com"><img class="icon" src="http://placehold.it/22x22" alt="Twitter"></a>
				<a href="www.personal.com"><img class="icon" src="http://placehold.it/22x22" alt="Profile"></a>
				<a href="www.personal.com"><img class="icon" src="http://placehold.it/22x22" alt="Profile"></a>
			</div>
			<div class="span9">
				<h3>Rocky Balboa</h3>
				<p>
					 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lobortis erat consequat euismod. Maecenas nisl eros, commodo eget dictum quis, volutpat ac nunc.
				</p>
			</div>
		</div>
	</div>
</div>