<h1>Hecho Por La Comunidad, Para La Comunidad</h1>
<p>
	coworkDF es un espacio de trabajo compartido (coworking space) para startups, freelancers y hackers. La gente que forma parte de nuestra comunidad viene a HACER algo, y a convivir con otras personas que están haciendo lo mismo para inspirarnos y ayudarnos mutuamente.
</p>

<p>
	coworkDF es 100% sin fines de lucro. todos los ingresos de coworkDF están destinados a hacerlo un mejor lugar de trabajo, fomentar esta comunidad independiente y proveer educación continua a nuestros miembros y al público.
</p>


<div class="row first-row">
	<div class="span6">
		<h2>Espacio de Trabajo</h2>
		<ul>
			<li>escritorios</li>
			<li>comunidad</li>
			<li>bla, bla</li>
		</ul>
	</div>
	<div class="span6">
		<img class="profile" src="http://placehold.it/300x200" alt="Nombre">
	</div>
</div>


<div class="row row-quees">
	<div class="span6">
		<img class="profile" src="http://placehold.it/300x200" alt="Nombre">
	</div>
	<div class="span6">
		<h2>Salones</h2>
		<ul>
			<li>educación continua</li>
			<li>líderes de industria
				<ul>
					<li>Britt Sevitelle</li>
					<li>Arturo Garrido</li>
				</ul>
			</li>
		</ul>
	</div>
</div>