
<h1>Hecho Por La Comunidad, Para La Comunidad</h1>
<p>
	Launchpad es un espacio de trabajo compartido (coworking space) para emprendedores y startups. La gente que forma parte de nuestra comunidad viene a trabajar, y a convivir con otras personas que están haciendo lo mismo para inspirarnos y ayudarnos mutuamente.
</p>

<p>
	Launchpad es 100% sin fines de lucro. Todos los ingresos de Launchpad están destinados a hacerlo un mejor lugar de trabajo, fomentar esta comunidad independiente y proveer educación continua a nuestros miembros y al público.
</p>

<div class="row piso">
	<div class="span4">
		<h2>Pisos 1-2</h2>
		<ul>
			<li>Escritorios amplios para tu equipo</li>
			<li>Aquí no hay cubículos ni oficinas privadas, el espacio es abierto para fomentar la interacción entre la comunidad</li>
			<li>Cocina con refrigerador y estufa</li>
			<li>Abierto 24 horas</li>
		</ul>
	</div>
	<div class="span8">
		<img class="piso" src="/images/piso3_span8.png" alt="Pisos 1-3">
	</div>		
</div>


<div class="row piso">
	<div class="span4">
		<h2>Piso 3</h2>
		<ul>
			<li>4 salas de juntas para uso de miembros</li>
			<li>Reuniones privadas, estudios de usabilidad, presentaciones, etc.</li>
		</ul>
	</div>
	<div class="span8">
		<img class="piso" src="/images/piso5_span8.png" alt="Piso 4">
	</div>		
</div>


<div class="row piso">
	<div class="span4">
		<h2>Piso 4</h2>
		<ul>
			<li>Salones para cursos <strong>prácticos</strong> (por lo menos uno por semana) que te pueden beneficiar</li>
			<li>Cursos impartidos por líderes de industria
				<ul>
					<li>Britt Selvitelle: <a href="http://www.twitter.com">Twitter</a></li>
					<li>Nathan Stoll: <a href="http://www.vark.com">Aardvark</a></li>
					<li>Bo Fishback: <a href="http://www.zaarly.com">Zaarly</a></li>
					<li>David Weekly: <a href="http://www.pbworks.com">PBworks</a></li>
					<li>Víctor Reyes: <a href="http://www.mexicoinnova.mx">MexicoInnova</a></li>
					<li>Arturo Garrido: <a href="http://www.twitea.me">twitea.me</a></li>
					<li>César Salazar: <a href="http://www.mexican.vc">Mexican.VC</a></li>
					<li>Santiago Zavala: <a href="http://www.mexican.vc">Mexican.VC</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span8">
		<img class="piso" src="/images/piso4_span8.png" alt="Piso 5">
	</div>		
</div>


<div class="row piso">
	<div class="span4">
		<h2>Piso 5</h2>
		<ul>
			<li>Espacio abierto de 140 m&sup2;, incluyendo terraza</li>
			<li>Café y área común durante el día</li>
			<li>Espacio para eventos de noche</li>
			<li>Sede de eventos como:
				<ul>
					<li><a href="http://www.startupweekenddf.com">Startup Weekend DF</a></li>
					<li><a href="http://www.shdhmexicocity.org">SupperHappyDevHouse</a></li>
					<li>Design Challenge</li>
					<li><a href="http://www.hackspedition.org">Hackspedition</a></li>
					<li>Lean Startup Meetup</li>
					<li>Startup Cocktails</li>
					<li>API Hackathons</li>
					<li>App Circus</li>
					<li>User groups y meetups de diferentes temas</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span8">
		<img class="piso" src="/images/piso6_span8.png" alt="Piso 6">
	</div>		
</div>
	


