<h1>Únete a nuestra comunidad</h1>
<p>¿Estas listo para formar parte de la comunidad de coworkDF y ayúdarnos a crear un espacio de trabajo del que todos podamos beneficiarnos? Excelente! Estamos emocionados de tenerte.</p>

<h2>Solicitud</h2>
<p>Queremos construir una comunidad que se bla bla bla... Por esto, le estamos dando derecho a todos los miembros fundadores de aprobar (por medio de una votación) a cada miembro nuevo. Creemos que seleccionar cuidadosamente el grupo fundador garantizará que la comunidad se auto-seleccione y crezca naturalmente después de la inauguración del espacio físico.</p>

<p>Llena la siguiente solicitud para ser parte de los miembros fundadores de coworkDF y en menos de 7 días tendrás tu respuesta. En ese momento, lo único que se necesitará para confirmar tu membresía será pre-pagar tu primer mes como miembro ($1,500 MXN).
</p>

<p>Te garantizamos que si antes del XX de XXXXXX no se ha abierto coworkDF, tendrás derecho a que te reembolsemos la cantidad aportada.
</p>

<div class="row first-row">
	<div class="span12">
		<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

		<script type="text/javascript">
		var z7x2k5 = new WufooForm();
		z7x2k5.initialize({
		'userName':'swdf', 
		'formHash':'z7x2k5', 
		'autoResize':true,
		'height':'668',
		'header':'show'});
		z7x2k5.display();
		</script>
	</div>
</div>
